<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQfOrym-JeGN9ZLymTv3aknbE6U2ezXTM</string>
	<key>GCM_SENDER_ID</key>
	<string>1048456506495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreCrud</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-3902f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-3902f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048456506495:ios:7d0eece2d40e6efb00634a</string>
</dict>
</plist>